@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Poppins:ital,wght@0,400;0,600;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
